.react-multiple-carousel__arrow--right {
    right: 0%;
}

.react-multiple-carousel__arrow--left {
    left:0%
}

.react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
    background: #025338;
    z-index: 10;
    top: 52%;
}

.react-multiple-carousel__arrow:hover {
    background: #5B8678;
}

.graph li{
    list-style-type: none;
}