
/* Add this to your CSS file, e.g., App.css */
.custom-button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z' fill='%23ffffff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 140px 5px;
    color: #0c8678;
    transition: all 0.3s ease, padding-left 0.5s ease;
  }
  
  .custom-button:hover {
    background-position: 113px 5px;
    padding-left: 0;
    background-color: #0c8678;
    color: #fff;
  
  }
  
